
<% if category.name == 'Pets' %>
  <span class='badge alert-danger'>
<% elsif category.name == 'Sports' %>
  <span class='badge alert-success'>
<% elsif category.name == 'Coffee' %>
  <span class='badge progress-bar-info'>
<% elsif category.name == 'Music' %>
  <span class='badge progress-bar-warning'>
<% elsif category.name == 'News' %>
  <span class='badge progress-bar-primary'>
<% end %>
  <%= category.name %>
</span>